<div>
    <h1>Product List</h1>
  <ul>
    {{#each products}}
      <li> ID: {{id}} - Title: {{title}} - despcription: {{despcription}} - code: {{code}} - price: ${{price}} - status: {{status}} - stock: {{stock}} - category: {{category}} - thumbnails: {{thumbnails}}</li>
    {{/each}}
  </ul>
</div>